{% extends 'emails/base_email.html' %}

{% block content %}
    <div style="text-align: center;">
        <img src="https://via.placeholder.com/150x50?text=Fastickets+Logo" alt="Fastickets Logo" style="margin-bottom: 20px;">
        <p style="color: #374151; margin: 10px 0;">Hello {{ user_name }},</p>
        <p style="color: #374151; margin: 10px 0;">
            You requested a password reset on your Fastickets account.
        </p>
        <p style="color: #374151; margin: 10px 0;">
            Your Verification OTP is below.
        </p>
        <div style="margin: 20px 0;">
            <a href="#" style="display: inline-block; background-color: #ea580c; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px; font-weight: bold;">
                {{ otp }}
            </a>
        </div>
        <p style="color: #374151; margin: 10px 0;">
            If you did not initiate this request, please ignore this email and contact our Support Team immediately.
        </p>
        <hr style="border: none; border-top: 1px solid #e5e7eb; margin: 20px 0;">

    </div>
{% endblock %}